@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 主設定 */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0 auto;
  /* outline: 1px solid lightskyblue; */
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
/* 排版 */
.container {
  width: 1296px; //12grid(86px)  gutter24px
  max-width: 100%; 
  margin: 0 auto;
  padding-left: 12px;//改善網頁貼邊
  padding-right: 12px;//改善網頁貼邊
}
.row{//消除內容器左右過多的padding
  margin-left: -12px;
  margin-right: -12px;
}
.col-2{
  width: 220px;
  padding-left: 12px;
  padding-right: 12px;
}
.col-3{
  width: 330px;
  padding-left: 12px;
  padding-right: 12px;
}
.col-5{
  width: 550px;
  padding-left: 12px;
  padding-right: 12px;
}
.col-6{
  width: 660px;
  padding-left: 12px;
  padding-right: 12px;
}
.w-50{
  width:50%;
  padding-left: 12px;
  padding-right: 12px;
}
.col-7{
  width: 770px;
  padding-left: 12px;
  padding-right: 12px;
}
.col-8{
  width: 880px;
  padding-left: 12px;
  padding-right: 12px;
}
.d-fx{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.fxdc{
  flex-direction: column;
}
.fxdrr{
  flex-direction: row-reverse;
}
.jcsb{
  justify-content: space-between;
}
.jcc{
  justify-content: center;
}
.aic{
  align-items: center;
}
.m-0-a{
  margin: 0 auto;
}
.t-a-c{
  text-align: center;
}
.ml-a{
  margin-left: auto;
}
.mr-a{
  margin-right: auto;
}
.mb-6{
  margin-bottom: 24px;
}
.mb-28{
  margin-bottom: 28px;
}
.mb-8{
  margin-bottom: 32px;
}
.mb-9{
  margin-bottom: 36px;
}
/* 文字顏色 */
.c-gr{
  color: #D1D1D1;
}
.c-b{
  color:black;
}
.c-g{
  color: #00FFA3;
}
.c-d{
  color: #15161D;
}
.c-w{
  color: #fff;
}

/* 背景 */

.bg-b{
  background: #000;
}
.bg-j1{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3); /* 30% 透明度的顏色 */
}
.bg-j2{
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.btn-l{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278.5px;
}
.btn-w{
  display: flex;
  padding: 12px 24px;
  border-radius: 32px;
  background: #fff;
}
.btn-b{
  display: block;
  display: flex;
  padding: 12px 24px;
  border-radius: 32px;
  background: #000;
}


/* font-style */
h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

/*各區塊排版*/
.m-0-a {
  margin: 0 auto;
}

.t-a-c {
  text-align: center;
}
.m-l-a {
  margin-left: auto;
}

/* 間距設定 */
.p-4{
  padding: 24px;
}
.p-s{
  padding: 40px 0;
}
.p-m{
  padding-top: 72px;
  padding-bottom:32px;
}
.p-l{
  padding: 96px 0;
}
.p-xl{
  padding: 160px 0;
}
.g-1{
  gap:4px;
}
.g-4{
  gap:16px;
}
.g-5{
  gap:20px;
}
.g-6{
  gap:24px;
}
.g-8{
  gap:32px;
}
.g-9{
  gap:36px;
}


/* 其他設定 */

.card{
  border:1px aolid E3E3E3;
}
